<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>.gifsagainsthumanity</title>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <link rel="stylesheet" href="main.css">
</head>

<body>
  <!-- <img class="bodyBackground" src="images/catburrito.jpg" alt="catburrito"> -->
  <header>
    <p class="title">.Gifs
      <br> Against
      <br> Humanity.</p>
    <p class="worse">...A game for horribler people.</p>
  </header>
  <section class="scoreContainer">
      <p class="score0 score">A Cat: 0</p>
      <p class="score1 score">Dancing baby: 0</p>
      <p class="score2 score">Yet Another Cat: 0</p>
      <p class="score3 score">Charlie: 0</p>
      <p class="score4 score">Pizza Rat: 0</p>
  </section>
  <section class="board">
      <p class="winOrLose"></p>
  </section>
  <section class="question"></section>
  <section class="turnDisplay"></section>
  <section class="hand"></section>
  <p class="playerName"></p>
  <footer>
    <div class="footerBackground"></div>
  </footer>
  <script type="text/javascript" src="main.js"></script>
</body>

</html>
