<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>.gifsagainsthumanity</title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="main.css">
  </head>
  <body>
    <header>
        <div class="title">.Gifs Against Humanity, AHHHHHHHHHH!!!!!</div>
        <p class="score1"></p>
        <p class="score2"></p>
        <p class="score3"></p>
        <p class="score4"></p>
    </header>
    <section class="board"></section>
    <section class="question"></section>
    <section class="turnDisplay"></section>
    <section class="hand"></section>
    <p class="playerName"></p>
    <footer></footer>
    <script type="text/javascript" src="main.js"></script>
  </body>
</html>
