* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

header {
  height:15vh;
  width: 100vw;
  border: .5vh solid black;
}

.board {
  height: 25vh;
  width: 100vw;
  position: relative;
  margin: 0 auto;
  border: .5vw solid black;
}

.winOrLose {
  display: none;
  position: absolute;
  z-index: 1;
  background: red;
}

.question {
  height: 15vh;
  width: 100vw;
}

.hand {
  height: 25vh;
  width: 100vw;
  margin: 0 auto 5vh auto;
  border: .5vw solid black;
}

img {
  height: 100%;
  width: 25%;
  float:left;
}

footer {
  height:15vh;
  width: 100vw;
  background-color: gray;

}
