* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  max-width: 100vw;
  position:relative;
}

/*.bodyBackground {
  position: absolute;
  top: 0;
  z-index: -1;
  opacity: .2;
  width: 100vw;
  height: 100%;

}*/

header {
  height: 12vh;
  width: 100%;
  background-color: black;
  color: white;
  padding-top: 2vh;
  padding-left: 2vw;
}

body::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .3;
  background-image: url("images/surprisecat.jpg");
  background-size: 100% 90%;
}

.title {
  font-size: 2vh;
  border: 1px solid white;
  padding: .5vh .5vw;
  font-weight: bold;
  letter-spacing: .2vw;
  line-height: 2.3vh;
  text-align: left;
  float: left;
}

.worse {
  font-size: 2vmin;
  letter-spacing: .15vw;
  font-weight: bold;
  padding-top: 6vh;
  padding-right: 3vw;
  float: right;
}

.scoreContainer {
  width: 100%;
  min-height: 6.5vh;
  padding: 0 2vw 1vh 2vw;
  background-color: rgba(255,0,0,.75);
  text-align: center;
}

.scoreCenter {
  margin: 0 auto;
  background-color: blue;
}

.score {
  display: inline-block;
  font-size: 2vmin;
  font-weight: bold;
  margin-top: 1vh;
  padding: .5vh 1vw;
  border: .5vh solid black;
  box-shadow:  .2vw .3vh .2vh .1vh rgba(0,0,0,.5);
}


/*Gameboard*/
.board {
  height: 25vh;
  width: 100%;
  position: relative;
  border-top: .5vw solid black;
  border-bottom: 1px solid black;
  background: radial-gradient(circle, rgba(200,100,50,.2)70%, rgba(180,150,30,.1));
}

.winOrLose {
  display: none;
  position: absolute;
  z-index: 1;
  color: red;
  /*top: 6.7vh;*/
  font-size: 16.1vmin;
  font-weight: bold;
  background: black;
  text-align: center;
  opacity: .75;
}

.question {
  width: 100%;
  min-height: 17.5vh;
  padding-top: 1vh;
  font-size: 4.5vmin;
  text-align: center;
}

.turnDisplay {
  height: 4vh;
  width: 100%;
  padding-top: 1vh;
  font-size: 2vmin;
  text-align: center;
}


.hand {
  height: 25vh;
  width: 100%;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  background: radial-gradient(circle, rgba(200,140,50,.2)70%, rgba(180,150,30,.1));
  font-size: 8vmin;
  text-align: center;
}

img {
  height: 100%;
  width: 25%;
  float:left;
  position: relative;
}

.playerName {
  width: 100%;
  height: 7vh;
  font-size: 5vmin;
  padding-top: .5vh;
  font-weight: bold;
  text-align: center;
}

footer {
  height: 3vh;
  width: 100%;
}

.footerBackground{
  height: 100%;
  opacity: .5;
  width: 100%;
  background-color: gray;
}
