* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
}

.board {
  width: 90vh;
  margin: 0 auto;
  border: 3px solid black;
}


.hand {
  width: 90vh;
  margin: 0 auto;
  border: 3px solid black;
}
